{% extends 'base.html' %}
{% load static %}
{% block title %}Contacts{% endblock %} 

{% block body%}


    <hr class="offset-lg">

    <div class="container gallery">
        <div class="row">
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="{% static 'img/product/Product4/WhatsApp Image 2023-09-19 at 1.12.04 PM.jpeg '%}" data-gallery="#video" 
                  data-source="vimeo" data-id="110691368" data-title="Apple iPad Air" data-description="So capable, you won’t want to put it down. So thin and light, you won’t have to.">
              <div class="overlay"></div>
              <i class="ion-ios-play"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="{% static 'img/product/Product6/WhatsApp Image 2023-09-19 at 2.21.33 PM.jpeg'%}" data-gallery="#photo" 
                  data-source="{% static 'img/product/Product6/WhatsApp Image 2023-09-19 at 2.21.33 PM.jpeg'%}" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="{% static 'img/product/Product7/WhatsApp Image 2023-09-19 at 2.24.44 PM.jpeg'%}" data-gallery="#photo" 
                  data-source="{% static 'img/product/Product7/WhatsApp Image 2023-09-19 at 2.25.07 PM.jpeg'%}" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="{% static 'img/product/Product9/WhatsApp Image 2023-09-19 at 3.09.23 PM.jpeg'%}" data-gallery="#video" 
                  data-source="youtube" data-id="yTJk6nZLEZc" data-title="Best New Dell Laptops" data-description="Best of dell's laptops that you can consider buying in 2016. 4 Laptops are featured in the video and all of them has equal importance and there is no order that #1 is better than #2">
              <div class="overlay"></div>
              <i class="ion-ios-play"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="{% static 'img/product/Product10/WhatsApp Image 2023-09-19 at 5.08.53 PM.jpeg'%}" data-gallery="#photo" 
                  data-source="{% static 'img/product/Product10/WhatsApp Image 2023-09-19 at 5.08.53 PM.jpeg'%}" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="{% static 'img/product/Product11/WhatsApp Image 2023-09-19 at 5.14.31 PM.jpeg'%}" data-gallery="#photo" 
                  data-source="{% static 'img/product/Product11/WhatsApp Image 2023-09-19 at 5.14.31 PM.jpeg'%}" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="{% static 'img/product/Product12/WhatsApp Image 2023-09-19 at 5.16.57 PM.jpeg' %}" data-gallery="#photo" 
                  data-source="{% static 'img/product/Product12/WhatsApp Image 2023-09-19 at 5.16.57 PM.jpeg'%}" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="{% static 'img/product/Product13/WhatsApp Image 2023-09-19 at 5.19.11 PM.jpeg'%}" data-gallery="#photo" 
                  data-source="{% static 'img/product/Product6/WhatsApp Image 2023-09-19 at 2.21.33 PM.jpeg'%}" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="{% static 'img/product/Product14/WhatsApp Image 2023-09-19 at 5.23.19 PM.jpeg' %}" data-gallery="#photo" 
                  data-source="{% static 'img/gallery/img7.jpg' %}" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="{% static 'img/product/Product6/WhatsApp Image 2023-09-19 at 2.21.33 PM.jpeg' %}" data-gallery="#photo" 
                  data-source="{% static 'img/product/Product6/WhatsApp Image 2023-09-19 at 2.21.33 PM.jpeg'%}" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="{% static 'img/carousel/Image1.jpg' %}" data-gallery="#photo" 
                  data-source="{% static 'img/carousel/Image1.jpg' %}" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="{% static 'img/carousel/Image1.jpg' %}" data-gallery="#photo" 
                  data-source="{% static 'img/carousel/Image1.jpg' %}" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="{% static 'img/product/Product10/WhatsApp Image 2023-09-19 at 5.08.53 PM.jpeg'%}" data-gallery="#photo" 
                  data-source="{% static 'img/product/Product12/WhatsApp Image 2023-09-19 at 5.16.57 PM.jpeg'%}" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
        </div>
    </div>
    <hr class="offset-lg">
    <hr class="offset-lg">

{% endblock body%}